<nav>
  <div>
    <img src="/images/shorty-logo.svg" alt="shorty-app-main-logo">
  </div>

  <div class="navigation-profile">
    <button class="btn-main" type="button" data-toggle="modal" data-target="#createUrlModal">
      {{>createUrlButtonContent}}
    </button>

    <div>
      <img class="avatar-image" src="{{loggedUser.imageAvatar}}" alt="user-profile-avatar">

      <div class="dropdown">
        <img class="arrow-menu" src="/images/down-arrow.svg" alt="down-arrow-icon" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{>navBarMenuDropDown}}
      </div>

      <span>{{loggedUser.fullName}}</span>
    </div>
  </div>
</nav>

<div class="modal fade" id="createUrlModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">

        <form class="needs-validation" action="/url/create" method="post">
          <h2>Criar nova URL</h2>

          <div class="modal-field">
            <label for="protocol">Protocolo</label>
            <select class="modal-input" name="protocol" id="protocol" placeholder="Procolo" required>
              <option value="http://">HTTP</option>
              <option value="https://">HTTPS</option>
            </select>
          </div>

          <div class="modal-field">
            <label for="redirectUrl">URL de redirecionamento</label>
            <input class="modal-input" type="text" name="redirectUrl" id="redirectUrl"
              placeholder="Insira a URL de redirecionamento" required>
          </div>

          <div class="modal-field">
            <label for="expirationDate">Data de Expiração</label>
            <div>
              <img src="/images/date-form-icon.svg" alt="" srcset="">
              <input class="modal-input" type="text" name="expirationDate" id="expirationDate"
                placeholder="Defina a data de expiração" onfocus="(this.type='date')" onblur="(this.type='text')"
                required>
            </div>
          </div>

          <div class="modal-action-buttons">
            <button type="button" class="btn-outline" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn-main">Criar URL</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<main>
  {{#if data}}
  <div class="info-dash-container">
    <h2>Lista de URLs</h2>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">URL encurtada</th>
          <th scope="col">URL de redirecionamento</th>
          <th scope="col">Data de criação</th>
          <th scope="col">Data de expiração</th>
          <th scope="col">Status da url</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="table-body">
        {{#each data}}
        {{>urlTableRows this}}
        {{/each}}
      </tbody>
    </table>
  </div>

  {{else}}
  <div class="empty-dash-container">
    <img src="/images/url-icon-big.svg" alt="url icon image big size">

    <h2>Ainda não existe URLs criadas.</h2>

    <p>Para criar uma nova URL clique no botão abaixo.</p>

    <button class="btn-main" type="button" data-toggle="modal" data-target="#createUrlModal">
      {{>createUrlButtonContent}}
    </button>
  </div>
  {{/if}}
</main>