<div>
  <label for="isbn-num">Search book by ISBN:</label>
  <input type="number" name="isbn-num" id="isbn-num" min="10" max="13" />
  <button id="isbn-search">Search</button>
</div>

<div id="book-result">
</div>

<script src="/javascripts/dashboard.js" charset="utf-8"></script>
